.header {
  background-color: black;
  color: white;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar {
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 1.5em; 
}

.header nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
  font-size: 1em;
  transition: color 0.3s;
}

.header nav a:hover {
  color: #cccccc;
}