.loginTitle {
    text-align: center;
    font-size: xx-large;
}

.fromContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 50px;
}

button {
    margin: 10px;
}

.gGontainer {
    display: flex;
    justify-content: center;
}